

html {
  .list-users {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .boton {
        margin-right: 3px;
        border-radius: 14px;
      }
      &-switch {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
  
        > button {
          margin-right: 20px;
        }
      }
    }
  
    .users-active {
      background-color:#f0f2f5;
      padding: 10px 20px;
      border-radius: 20px;
  
      .ant-list-item-meta {
        display: flex;
        align-items: center;
      }
    }
  }
  
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
  .list-users {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .boton {
        margin-right: 3px;
        border-radius: 14px;
      }
      &-switch {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
  
        > button {
          margin-right: 20px;
        }
      }
    }
  
    .users-active {
      background-color: #fff;
      padding: 10px 20px;
      border-radius: 20px;
  
      .ant-list-item-meta {
        display: flex;
        align-items: center;
      }
    }
  }
  
}

@media screen and (min-width: 300px) {
  .list-users {
    
   

      .boton {
        margin-right: 3px;
        border-radius: 14px;
        //  width: 130px;
        margin-top: 50px;
      }
      &-switch {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        width: 20px;

        > button {
          margin-right: 20px;
        }
      }
    }

    
  }

