@import "../../../../../scss/index.scss";

html {
  .cursos {
    // background-color: #f5f5f5 !important;
    // marimgin-bottom: 10%;
    margin-top: -30px;
    video {
      margin-top: 15px;
      border: 2px solid floralwhite;
      border-radius: 20px;
      cursor: pointer;

      background-color: floralwhite;
      border-top-left-radius: 20px;
      &:focus {
        outline: none;
      }
    }
    img {
      border-radius: 20px;
    }
    .reproductor {
      .react-player__preview {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      *:focus {
        outline: none;
      }
    }

    .link {
      display: flex;
      width: 99%;
      border-radius: 20px;
      margin-top: 10%;
      margin-bottom: 3%;
      // margin-left: 20px;
      background-color: rgba(255, 255, 255, 0.7) !important;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      a {
        button {
          text-align: left;
          font-family: "Segoe UI";
          font-size: 14px;
          line-height: 17px;

          font-weight: 700;
          font-style: normal;
          &:hover {
            color: yellowgreen;
          }
        }
      }
      svg {
        width: 10px !important;
        height: 10px;
      }
    }
    .ant-card {
      background-color: white !important;
      background-color: rgba(255, 255, 255) !important;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }
    .ant-card-meta-title {
      font-family: "Segoe UI";
      font-size: 32px;
      line-height: 32px;
      color: $font-dark;
      font-weight: 700;
      font-style: normal;
    }
    .ant-card-meta-description {
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 16px;
      color: $font-dark;
      font-weight: 400;
      font-style: normal;
    }
    .anadir {
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;
      background-color: #ec5252;
      color: #fff;
      width: 100%;
      height: 3rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 15px;
      position: relative;
      align-items: center;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      display: inline-flex;
      min-width: 10rem;
      padding: 0 1.2rem;
      justify-content: center;
      user-select: none;
      vertical-align: bottom;
      white-space: nowrap;
    }
    .comprar {
      // background-color: #0f7c90;
      border-color: #0f7c90 !important;

      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;

      color: #fff;
      width: 100%;
      height: 3rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 15px;
      color: #0f7c90;
      position: relative;
      align-items: center;
      border-radius: 4px;

      cursor: pointer;
      display: inline-flex;
      min-width: 10rem;
      padding: 0 1.2rem;
      justify-content: center;
      user-select: none;
      vertical-align: bottom;
      white-space: nowrap;
      margin-bottom: 10px;
    }
    .text-boton {
      text-align: center;

      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 17px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
    .incluye {
      margin-top: 10px !important;
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;
      color: $font-dark-light;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 10px !important;
    }
    h3 {
      margin-top: 5px;
      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 20px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
  }
  .ant-page-header {
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    border-radius: 20px;
    .ant-page-header-heading {
      padding: 24px 24px 10px 0px;
      .ant-page-header-heading-title {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: 32px;
        line-height: 38px;
        color: #000000;
        font-weight: 700;
        font-style: normal;
      }
    }
    .ant-page-header-content {
      .description {
        font-family: "Segoe UI";
        font-size: 19px;
        line-height: 27px;
        color: #000000;
        font-weight: 400;
        font-style: normal;
      }

      .text-teacher {
        font-family: "Segoe UI";
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
  .titulo {
    margin: 20px 20px 20px 0px;
    font-family: "Segoe UI";
    font-size: 24px;
    line-height: 29px;
    color: $font-dark;
    font-weight: 700;
    font-style: normal;
  }
  .ant-collapse {
    margin-right: 20px;
    // margin: auto;

    overflow: auto;
    .ant-collapse-header {
      font-family: "Segoe UI";
      background-color: white;
      font-size: 16px;
      line-height: 19px;
      color: #3c3b37;
      font-weight: 700;
      font-style: normal;
    }
    .ant-collapse-content {
      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 20px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
  }
  .teacher {
    background-color: white !important;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  }
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
  .cursos {
    // background-color: #f5f5f5 !important;
    // margin-bottom: 10%;
    margin-top: -30px;
    video {
      margin-top: 15px;
      border: 2px solid floralwhite;
      border-radius: 20px;
      cursor: pointer;

      background-color: floralwhite;
      border-top-left-radius: 20px;
      &:focus {
        outline: none;
      }
    }
    img {
      border-radius: 20px;
    }
    .reproductor {
      .react-player__preview {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      *:focus {
        outline: none;
      }
    }

    .link {
      display: flex;
      width: 98%;
      border-radius: 20px;
      margin-top: 10%;
      margin-bottom: 3%;
      // margin-left: 20px;
      background-color: rgba(255, 255, 255, 0.3) !important;
      a {
        button {
          text-align: left;
          font-family: "Segoe UI";
          font-size: 14px;
          line-height: 17px;

          font-weight: 700;
          font-style: normal;
          &:hover {
            color: yellowgreen;
          }
        }
      }
      svg {
        width: 10px !important;
        height: 10px;
      }
    }
    .ant-card-meta-title {
      font-family: "Segoe UI";
      font-size: 32px;
      line-height: 32px;
      color: #3c3b37;
      font-weight: 700;
      font-style: normal;
    }
    .ant-card-meta-description {
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 16px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
    .anadir {
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;
      background-color: #ec5252;
      color: #fff;
      width: 100%;
      height: 3rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 15px;
      position: relative;
      align-items: center;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      display: inline-flex;
      min-width: 10rem;
      padding: 0 1.2rem;
      justify-content: center;
      user-select: none;
      vertical-align: bottom;
      white-space: nowrap;
    }
    .comprar {
      // background-color: #0f7c90;
      border-color: #0f7c90 !important;

      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;

      color: #fff;
      width: 100%;
      height: 3rem;
      font-weight: 700;
      font-style: normal;
      margin-top: 15px;
      color: #0f7c90;
      position: relative;
      align-items: center;
      border-radius: 4px;

      cursor: pointer;
      display: inline-flex;
      min-width: 10rem;
      padding: 0 1.2rem;
      justify-content: center;
      user-select: none;
      vertical-align: bottom;
      white-space: nowrap;
      margin-bottom: 10px;
    }
    .text-boton {
      text-align: center;

      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 17px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
    .incluye {
      margin-top: 10px !important;
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;
      color: #3c3b37;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 10px !important;
    }
    h3 {
      margin-top: 5px;
      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 20px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
  }
  .ant-page-header {
    background-color: #f5f5f5;
    margin-right: 10px;
    border-radius: 20px;
    .ant-page-header-heading {
      padding: 24px 24px 10px 0px;
      .ant-page-header-heading-title {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: 32px;
        line-height: 38px;
        color: #000000;
        font-weight: 700;
        font-style: normal;
      }
    }
    .ant-page-header-content {
      .description {
        font-family: "Segoe UI";
        font-size: 19px;
        line-height: 27px;
        color: #000000;
        font-weight: 400;
        font-style: normal;
      }

      .text-teacher {
        font-family: "Segoe UI";
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
  .titulo {
    margin: 20px 20px 20px 0px;
    font-family: "Segoe UI";
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    font-weight: 700;
    font-style: normal;
  }
  .ant-collapse {
    margin-right: 20px;
    // margin: auto;
    overflow: auto;
    .ant-collapse-header {
      font-family: "Segoe UI";
      font-size: 16px;
      line-height: 19px;
      color: #3c3b37;
      font-weight: 700;
      font-style: normal;
    }
    .ant-collapse-content {
      font-family: "Segoe UI";
      font-size: 14px;
      line-height: 20px;
      color: #3c3b37;
      font-weight: 400;
      font-style: normal;
    }
  }
}
