.result{
    height: 90vh;
    margin-top: 15%;
    .ant-result-title{
        color: white;
    }
    .ant-result-subtitle{
        color: white;
        font-size: 15px;
    }
    .ant-result-extra{
        button{
            margin-right: 45%;
        }
    }
}