@import "../../../scss/index.scss";


html {
  .panel-sidebar {
    position: fixed;
    left: 0;
    background-color:  #084DB2  ;
    top: 65px;
    height: 100vh;
    overflow: auto;
    .ant-menu-item{
      background-color:  #084DB2  ;
      color: white;
      &:hover{
        background-color: #1890ff !important;

      }
    }
    .ant-menu-item-selected{
      background-color: #CCE1FE  !important;
      
      span{
        color: black !important;
      }
      
    }
    .ant-menu.ant-menu-dark{
      background-color:  #084DB2  ;
      
    }
    

    .center {
      text-align: left;
      // justify-content: center;
      // align-content: center;
    }
  }
  
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
  .panel-sidebar {
    position: fixed;
    left: 0;
    top: 65px;
    height: 100vh;
    overflow: auto;
    background-color:  #08547e  ;
    .ant-menu-item{
      background-color:  #08547e  ;
      color: white;
      &:hover{
        background-color: #084DB2 !important;

      }
    }
    .ant-menu-item-selected{
      background-color: #CCE1FE  !important;
      
      span{
        color: black !important;
      }
      
    }
    .ant-menu.ant-menu-dark{
      background-color:   #08547e  ;
      
    }
    .center {
      text-align: left;
      // justify-content: center;
      // align-content: center;
    }
  }
  
}
